/* Full body */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* ---------------header-------------------------*/
.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.links {
    display: flex;
    font-weight: lighter;
    gap: 16px;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}
/*--------------MODAL-1(TODO)--------------------------*/
.awesome {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 150px 200px;
    justify-content: space-between;
    gap: 200px;
}

.awesome-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.awesome-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color:#e5e7eb;

}
button#hero {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    border-style: none;
}

.awesome-pic {
    display: flex;
    height: 210px;
    width: 450px;
    border: none;
    border-radius: 0;
    flex-shrink: 0;
}

/*--------------INFORMATION SECTION--------------------------*/

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px ;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom : 32px ;
    gap: 32px;
}

img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.info {
    max-width: 200px;
    text-align: center;
}

/*--------------QUOTE--------------------------*/

.quote {
    background-color: #e5e7eb;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
    padding: 100px 200px;

}

.author {
    font-weight: bold;
    text-align: end;
}

/*--------------MODAL-2 (TODO)--------------------------*/

.modal {
    background: white;
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 120px;
}

.modal-text {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 24px;
}

.modal-subtext {
    color: #f9faf8;
}

button#hero2 {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    border: 2px solid #f9faf8;
}
/*--------------FOOTER(TODO)--------------------------*/

.footer {

    background-color: #1f2937;
    color: #f9faf8;
    font-size: 16px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}